.header .navbar-brand.logo {
  padding: 0;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-bottom: 1em;
  height: auto;
}
.header .navbar-brand.logo img {
  max-height: 50px;
}
.header .tagline {
  margin-top: 2em;
}
.header .options {
  margin-top: 10px;
}
.options .add , .options .profile {
  width: 40px;
  float: left;
  margin-right: 1em;
}
.options .add img, .options .profile img{
  width: 100%;
  margin: 1em;
}
.options .profile {
  width: 90px;
  height: 60px;
  padding: 0 5px;
}
.options .profile .pic {
  border-radius: 50%;
  max-width: 60px;
  margin: 0;
}
.options .profile .arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}





.sidebar .title {
  padding: 1em;
  padding-left : 40px;
  border-bottom: 1px solid #001F11;
  width: 96%;
  margin: 0 2% 2em 2%;
  font-size: 18px;
  color: gray;
  background: url(/images/signal.png);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: left;
  /*text-align: right;*/
}


.sidebar .topics {
  list-style-type: none;
  padding: 0;
}
.sidebar .topics li {
  margin:0.5em 0;
}
.sidebar .topics li a{
  color: gray;
}
.sidebar .topics li.active a{
  color: #549D39;
  border-left: 2px solid #549D39;
  padding-left: 1em;
}



.content header {
  background: rgba(211, 211, 211, 0.62);
  border-radius: 5px;
  padding: 1em;
}

.content header h1 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #001F11;
}
.content header p {
  color: gray;
}

.content .links ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2em;
}
.content .links ul li {

}
.content .links ul li .desc h2 {
  font-size: 16px;
}
.content .links ul li .desc h2 a {
  color: black;
}
.content .links ul li .desc h2 a:hover  {
  color: rgb(92, 92, 92);;
}
.content .links ul li .upvote button{
  border: none;
  background: url('/images/uparrow.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 52px;
  height: 52px;
  padding-top: 10px;
  margin-top: 1em;
}
.content .links ul li .desc p {
  color: gray;
}
.content .links ul li .user img {
  float: right;
  border-radius: 50%;
  max-width: 60px;
}
